{% extends "base.html" %}

{% block content %}
<div class="container py-5">
  <h1 class="mb-4">Contact Us</h1>

  <div class="col-md-12">
    <div class="contact-card p-4 rounded h-100 d-flex flex-column align-items-center">
      <i class="bi bi-envelope fs-2 mb-3"></i>
      <h3 class="h5">Email</h3>
      <p class="mb-0"><a href="mailto:hello@moqi-toys.com">hello@moqi-toys.com</a></p>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Our Factory</h5>
          <p class="card-text">
            Yi Jia Toys Co., Ltd.<br>
            No.12 Haiyun Street<br>
            Xigang District, Dalian<br>
            Liaoning Province, China 116011<br>
          </p>
        </div>
      </div>
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.755314258083!2d121.60258!3d38.91934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35865d9e95a9c3d7%3A0xef11428e1ebdc529!2sHaiyun%20Street%2C%20Xigang%20District%2C%20Dalian%2C%20Liaoning!5e0!3m2!1sen!2scn!4v1719391340214!5m2!1sen!2scn"
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Our Office in EU</h5>
          <p class="card-text">
            Meili AS<br>
            Hunnsvegen 3<br>
            2821 Gjøvik<br>
            Norway<br>
          </p>
        </div>
      </div>
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1945.13119027154!2d10.686226776887374!3d60.80877257514615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4641da1447aa702d%3A0x68d1e2d9a1aa7a07!2sHunnsvegen%203%2C%202821%20Gj%C3%B8vik%2C%20Norway!5e0!3m2!1sen!2sno!4v1719409287412!5m2!1sen!2sno"
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}